.Weather strong {
    color: rgb(33, 33, 33);
    font-size: 55px;
    line-height: 1;
    font-weight: 400;
  }
  .Weather .units {
    position: relative;
    top: -35px;
  }
  .Weather .units a {
    text-decoration: none;
  }
  .Weather img {
    width: 40px;
    font-size: 25px;
  }
  .Weather {
    margin-top: 15px;
    margin-bottom: 25px;
  }
  @media (max-width: 900px) {
    .Weather strong {
      font-size: 35px;
    }
    .Weather img {
      width: 30px;
      font-size: 15px;
    }
    .Weather .units {
      position: relative;
      top: -20px;
      font-size: 12px;
    }
  }
  